<div id="root">Loading...</div>

@section prodScripts {
     <script type="text/javascript" asp-src-include="~/dist/client*.js"></script>
}

@section devScripts {
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
}