<div id="root">Loading...</div>

@section prodScripts {
     <script type="text/javascript" asp-src-include="~/dist/client*.js"></script>
}

@section devScripts {
    <script type="text/javascript" asp-src-include="~/dist/main*.bundle.js"></script>
}